*{
  margin: 0;
}

.app_heading {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(6, 6, 14);
  padding: 10px;
}

.app__searchInput {
  display: flex;
  
}

.app__searchBtn {
  background-color: green;
  color: white;
  margin-left: 10px;
}

.app_title {
  color: white;
}

.app__form {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: lightgray;
}

.app__input {
  padding: 10px;
  margin-bottom: 10px;
}

.app__textarea {
  padding: 30px;
  margin-bottom: 10px;
}

.app__btn {
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 17px;
}

.app__card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.app__card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.app__showData {
  padding: 2px 16px;
  
}